.タイトル {
  text-align: center;
  background: #333c5e;
  color: white;
  font-size: 40px;
  width: 100%;
}

.container {
  width: 50%;
  margin: auto;
}
.chat-area {
  background: rgb(224, 255, 232);
  overflow: scroll;
}

#output p:nth-child(odd) {
  margin-right: auto;
  text-align: left;
  width: fit-content;
  background: rgb(173, 182, 230);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#output p:nth-child(even) {
  margin-left: auto;
  text-align: right;
  width: fit-content;
  background: #61e739;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#remove {
  width: 50%;
  margin: auto;
}

#uname {
  width: 35%;
}

#send {
  width: 100%;
}

#text {
  width: 100%;
}
